<html>
<head>
<title>Havi-hackathon-login</title>
<style>
table{background-color:coral;}
</style>
</head>
<body>
<form action="login.php" method="post">
<center><table>

<tr><td>Username</td><td>
<input type="text" name="uname" required></td></tr>

<tr><td>Password</td><td>
<input type="password" name="pwd" required></td></tr>

<tr><td align="center" valign="middle">
<input type="submit" name="signin" value="sign in"></td>
<td align="center" valign="middle">
<input type="button" value="sign-up
"onClick="location.href='vsignup'"></td></tr>
</table></center>
</form>

</body>
</html>
